{% if app.user %}
    <nav class="bg-primary bg-dark navbar">
        <a href="{{path('app_admin_post')}}" class="text-white">Poster</a>
        <a href="{{path('app_admin')}}" class="text-white">Dashboard</a>
        <a href="{{path('app_logout')}}" class="text-white">Déconnexion</a>
    </nav>
{% else %}
    <nav class="bg-primary bg-dark navbar">
        <a class="navbar-brand" href="{{path('app_home')}}">EUROKEYS</a>
    </nav>
{% endif %}
