{% extends 'base.html.twig' %}

{% block title %}Modifier la publication{% endblock %}

{% block body %}
<h1 class="text-center mt-3 text-white">Modifier la publication</h1>

        <div class="col-8 mx-auto">
            {{ include('_partials/_form.html.twig', {submitButtonText: 'Mettre à jour'}) }}
        </div>
{% endblock %}
