{% extends 'base.html.twig' %}

{% block title %}Nouvelle publication{% endblock %}

{% block body %}
<h1 class="text-center mt-3 text-white">Nouvelle publication</h1>

        <div class="col-8 mx-auto">
            {{ include('_partials/_form.html.twig', {submitButtonText: 'Publier'}) }}
        </div>
{% endblock %}
